.about{
    padding: 50px 0;
    font-family: Montserrat, sans-serif;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__rigth-side{
        width: 687px;
    }
    &__left-side{
        width: 367px;
    }
    &__title{
        font-size: 27px;
        line-height: 30px;
        font-style: normal;
        font-weight: 700;
        margin-top: 94px;
        display: flex;
        align-items: center;
        color: #FFF;
    }
    &__text{
        font-family: Montserrat,sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin: 16px 0 50px 0;
        color: #FFF;
    }
    &__image{
        background-position: 50% center;
        background-size: cover;
        width: 100%;
        &--first{
            background-image: url(../img/about-first.png);
            height: 494px;
            margin-top: 70px;
            z-index: 0;
            max-width: 597px;
            position: relative;
        }
        &--second{
            background-image: url(../img/about-second.png);
            height: 291px;
            margin: -110px 0 0 100px;
            z-index: 1;
            max-width: 597px;
            position: relative;
        }
    }
}