.price{
    font-family: Inter, sans-serif;
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #fff;
        margin: 40px auto;
    }
}